<div class="container">
  <h3 mat-dialog-title>Nuevo Plato</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #inputstate class="form-control" placeholder="Nombre" [(ngModel)]="data.nombre" name="title" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #inputstate class="form-control" placeholder="Precio" [(ngModel)]="data.precio" name="state" maxlength="10"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <select id="UserSelector" style="width: 50%;" [(ngModel)]="data.categoria" name="tipo">
      <option value="">--Select --</option>
      <option *ngFor="let type of tiposDeComida" value="{{type.id}}">{{type.tipo}}</option>
    </select>

    <input id="image" type="file" (change)="changeListener($event)" accept=".png, .jpg, .jpeg" />
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>