﻿<div class="container" style="padding-top: 30px;">
  <div>
    <div class="panel-body">
      <form name="signup" class="register-form" role="form" style="display: block;" novalidate>
        <!--div class="row" style="margin-top: 15px;">
          <div class="col-lg-4">
            <input type="text" name="email" id="email" tabindex="3" class="form-control" placeholder="email" ng-model="vm.comercio.email"
              required>
          </div>
          <div class="col-lg-4">
            <input type="text" name="nombre" id="nombre" tabindex="3" class="form-control" placeholder="Nombre" ng-model="vm.comercio.nombre"
              required>
          </div>
          <div class="col-lg-4">
            <select id="UserSelector" ng-model="vm.comercio.tipo" style="width: 100%;">
              <option value="">--Select --</option>
              <option ng-repeat="type in vm.types" ng-selected="vm.comercio.tipo == type.id" value="{{type.id}}">{{type.tipo}}</option>
            </select>
          </div>
        </div-->
        <div class="row" style="margin-top: 15px;">
          <div class="col-lg-4">
            <input type="text" name="razonSocial" id="razonSocial" tabindex="3" class="form-control" placeholder="Razón Social" [(ngModel)]="comercio.razonSocial" readonly
              required>
          </div>
          <div class="col-lg-4">
            <select id="UserSelector" [(ngModel)]="comercio.tipoComidaId" style="width: 20%;" name="tipo" [disabled]="true">
              <option value="">--Select --</option>
              <option *ngFor="let type of tiposDeComida" [selected]="comercio.tipoComidaId == type.id" value="{{type.id}}">{{type.tipo}}</option>
            </select>
          </div>
          <!--div class="col-lg-4">
            <input type="text" name="direccion" id="direccion" tabindex="3" class="form-control" placeholder="Dirección" ng-model="vm.comercio.addressDto.street"
              required>
          </div>
          <div class="col-lg-4">
            <input type="text" name="postalCode" id="postalCode" tabindex="3" class="form-control" placeholder="Código Postal" ng-model="vm.comercio.addressDto.postalCode"
              required>
          </div-->
        </div>
        <!--div class="row" style="margin-top: 15px;">
          <div class="col-lg-4">
            <input type="text" name="floor" id="floor" tabindex="3" class="form-control" placeholder="Piso" ng-model="vm.comercio.addressDto.floor"
              required>
          </div>
          <div class="col-lg-4">
            <input type="text" name="department" id="department" tabindex="3" class="form-control" placeholder="Departamento" ng-model="vm.comercio.addressDto.department"
              required>
          </div>
        </div>
        <div class="form-group">
          <div class="row" style="margin-top: 15px;">
            <div class="col-xs-6">
              <input type="submit" name="register-submit" id="register-submit" tabindex="5" class="form-control btn btn-login" value="Actualizar">
            </div>
            <div class="col-xs-6">
              <a ng-click="vm.goBack()" class="form-control btn btn-login">Volver</a>
            </div>
          </div>
        </div-->
        <agm-map [latitude]="lat" [longitude]="lng" [zoomControl]="false">
        </agm-map>
      </form>
    </div>
  </div>
</div>