<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">inbox</i>
                        </div>
                        <p class="card-category">Pedidos Ingresados</p>
                        <h3 class="card-title">{{dashInfo.pedidosIngresados}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>En el día de hoy
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">whatshot</i>
                        </div>
                        <p class="card-category">Pedidos en Preparación</p>
                        <h3 class="card-title">{{dashInfo.pedidosEnPreparacion}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> En el día de hoy
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cancel</i>
                        </div>
                        <p class="card-category">Pedidos Cancelados</p>
                        <h3 class="card-title">{{dashInfo.pedidosCancelados}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> En el día de hoy
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">send</i>
                        </div>
                        <p class="card-category">Pedidos Despachados</p>
                        <h3 class="card-title">{{dashInfo.pedidosDespachados}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> En el día de hoy
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <p class="card-category">Pedidos Entregados</p>
                        <h3 class="card-title">{{dashInfo.pedidosEntregados}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> En el día de hoy
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">timer</i>
                        </div>
                        <p class="card-category">Lead Time</p>
                        <h3 class="card-title">{{dashInfo.leadtime}}
                            <small>Minutos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i>Tiempo Promedio Historico
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">comment</i>
                        </div>
                        <p class="card-category">Comentarios</p>
                        <h3 class="card-title">{{dashInfo.cantidadComentarios}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">rate_review</i>
                            <a routerLink="/comentarios" routerLinkActive="active">Ir a comentarios</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">star</i>
                        </div>
                        <p class="card-category">Calificación</p>
                        <h3 class="card-title left">
                            <i *ngIf="dashInfo.rating == 1" class="material-icons md-18">star star_border star_border star_border star_border</i>
                            <i *ngIf="(2 >  dashInfo.rating) && (dashInfo.rating > 1)" class="material-icons md-18">star star_half star_border star_border star_border</i>
                            <i *ngIf="dashInfo.rating == 2" class="material-icons md-18">star star star_border star_border star_border</i>
                            <i *ngIf="(3 > dashInfo.rating) && (dashInfo.rating > 3)" class="material-icons md-18">star star star_half star_border star_border</i>
                            <i *ngIf="dashInfo.rating == 3" class="material-icons md-18">star star star star_border star_border</i>
                            <i *ngIf="(4 > dashInfo.rating) && (dashInfo.rating > 3)" class="material-icons md-18">star star star star_half star_border</i>
                            <i *ngIf="dashInfo.rating == 4" class="material-icons md-18">star star star star star_border</i>
                            <i *ngIf="(5 > dashInfo.rating) && (dashInfo.rating > 4)" class="material-icons md-18">star star star star star_half</i>
                            <i *ngIf="5 == dashInfo.rating" class="material-icons md-18">star star star star star</i>
                        </h3>
                        <!--i *ngIf={{conDecimal}} class="material-icons yellow-icon">star_half</i>
                        <i class="material-icons yellow-icon">star</i>
                        <i class="material-icons yellow-icon">star_half</i>
                            <h3 class="card-title">{{dashInfo.rating}}</h3-->
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">star</i>Promedio de {{dashInfo.cantidadComentarios}} calificaciones
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Facturado del Mes</p>
                        <h3 class="card-title">${{dashInfo.facturadoMes}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Últimos {{today | date:'d'}} días
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Facturado del Día</p>
                        <h3 class="card-title">${{dashInfo.facturadoDia}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Desde la apertura
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Fee del mes</p>
                        <h3 class="card-title">${{dashInfo.feeDelMes}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">monetization_on</i> 1% del Total del Mes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>