<div class="container mat-elevation-z8">
  <div class="form">
    <mat-form-field floatPlaceholder="never" color="primary">
      <input matInput #filter placeholder="Filtrar Platos">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSortActive="orden" matSortDirection="asc"  matSort class="mat-cell">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Imagen</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img [attr.src]="element.imagen" alt=" " width="100px" height="100px" /> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <select id="UserSelector" style="width: 20%;" name="tipo">
          <option value="">--Select --</option>
          <option *ngFor="let type of tiposDeComida" [selected]="element.categoria == type.id" value="{{type.id}}">{{type.tipo}}</option>
        </select>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let element">${{element.precio}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-slide-toggle [checked]="row.state=='ACTIVO'" (change)="onChange($event, i, row.id, row.imagen, row.nombre, row.precio)"
          color="primary"></mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orden">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell [style.display]="'none'" *matCellDef="let row">{{row.categoria}}{{row.orden}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="startEdit(i, row.id, row.imagen, row.nombre, row.precio)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteItem(i, row.id, row.imagen, row.nombre, row.precio)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="increaseOrder(i, row.id, row.imagen, row.nombre, row.precio, row.categoria, row.orden)">
          <i class="material-icons">arrow_upward</i>
        </button>
        <button mat-icon-button color="primary">
          <i class="material-icons">arrow_downward</i>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    Sin resultados
  </div>
  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>